{% extends 'base.html' %}

{% block title %}
{{ lesson.title }}
{% endblock %}

{% block content %}

    <h1>{{ lesson.title }}</h1>

    <p> 
      {{ lesson.summary }}
    </p>

    {% if session['id'] == user.id %}
    <ul>
        <li>{{ lesson.start_date }}</li>
        <li>{{ lesson.end_date }}</li>
    </ul>

    <p>
        <a href="/lessons/{{ lesson.id }}/edit" class="btn btn-secondary btn-sm m-1" methods=>
          Edit Lesson
        </a>
    </p>
    
    <form method="POST" action="/lessons/{{ lesson.id }}/delete">
        <button class="btn btn-secondary btn-sm m-1">Delete Lesson</button>
    </form>


    <p>
        <a href="/users/{{ user.id }}/lessons"" class="btn btn-secondary btn-sm m-1y">
      All Lessons
        </a>
    </p>

    {% endif %}


{% endblock %}