* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body {
    background-color: #ded7c9;
}

html {
    font-size: 62.5%;
}

a {
    color: #FBFFEB;
    text-decoration: none;
}

a:hover {
    color: #3b3424;
    text-decoration: none;
}

.calendarContainer {
    width: 100%;
    height: 60%;
    background-image: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
    color: #FBFFEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45rem;
    height: 45rem;
    background-color: #0a0806;
}

.month {
    width:100%;
    height: 12rem;
    background-color: #100d09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.2rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1rem;
    margin: 0.3rem;
    width: calc(40.4rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #746446;
    border: 0.2rem solid #282318;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #64563e;
}

.calendarLink {
    font-size: .75rem;
    color: #ded7c9;
    }
    
.calendarLink:hover {
    color: #ccc0ab;
}

.nav-link {
    padding: 10px;
}

.navbar-brand {
    letter-spacing: 1px;
}

.wrapper {
    height: 40%;
}

.card-link:hover {
    color: #282318;
}

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

