<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">History Lesson</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% if 'id' in session %}
          <a class="nav-link d-inline-block" href="/logout">Logout</a>
          <a class="nav-link d-inline-block" href="/users/{{user.id}}/profile">Your Profile</a>
          {% else %}
          <a class="nav-link d-inline-block" href="/login">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  {% if 'id' not in session %}
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://images.unsplash.com/photo-1461360370896-922624d12aa1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80');
      height: 300px;
      ">
    <div class="mask" style="background-color: rgba(14, 10, 2, 0.5)">
      <div class="d-flex justify-content-center align-items-center h-50">
        <div class="text-white">
          <h3 class="mb-2">Enliven your lessons with historical documents, photos, newspaper articles and more!</h3>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</header>

<div class="container mt-5">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-info">{{ msg }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}
</div>
<script src="http://unpkg.com/axios/dist/axios.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>
</body>
</html>

