{% extends 'base.html' %}

{% block title %}
{{user.username}} Calendar
{% endblock %}

{% block content %}

{% if session['id'] == user.id %}
<h1>Welcome {{user.username}}!</h1>

<div class="container calendarContainer">
  <div class="calendar">
    <div class="month">
      <i class="fas fa-angle-left prev"></i>
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
      <i class="fas fa-angle-right next"></i>
  </div>
  <div class="weekdays">
    <div class="col">Sun</div>
    <div class="col">Mon</div>
    <div class="col">Tues</div>
    <div class="col">Wed</div>
    <div class="col">Thurs</div>
    <div class="col">Fri</div>
    <div class="col">Sat</div>
    </div>
    <div class="days">
    </div>
  </div>
</div>


{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>
{% endblock %}
