{% extends 'base.html' %}

{% block title %}
{{user.username}} Home
{% endblock %}

{% block content %}

  {% if session['id'] == user.id %}
    <h1>Welcome {{user.username}}!</h1>

    <p> 
      <a href="/users/{{ user.id }}/lessons" class="btn btn-primary">
        Your Lesson Plan List
      </a>
    </p>

    <p> 
      <a href="/users/{{ user.id }}/edit" class="btn btn-primary">
        Edit Profile
      </a>
    </p>
  {% endif %}

  {% if session['id'] != user.id %}
    <h1>{{user.username}}</h1>

    <p>
      <a href="/users/{{ user.id }}/lessons" class="btn btn-primary">
      {{user.username}} Lesson Plan List
      </a>
    </p>
  {% endif %}


  <p>
    <a href="/users" class="btn btn-primary">
      Browse Users
    </a>
  </p>


{% endblock %}