{% extends 'base.html' %}

{% block title %}
{{user.username}} Lessons
{% endblock %}

{% block content %}

<p>
    <a href="/users/{{ user.id }}" class="btn btn-secondary btn-sm m-1">
      Return Home
    </a>
</p>

<h1>Lesson Plans</h1>

<div class="col-sm-6">
    <ul class="list-group" id="lessons">
        {% for lesson in lessons %}
        <li class="list-group-item"><a href="/lessons/{{ lesson.id }}" class="lesson-link"/>
            <h3>{{lesson.title}}</h3>
                <ul>
                    <li>{{lesson.summary}}</li>
                    <li>{{lesson.start_date}}</li>
                    <li>{{lesson.end_date}}</li>
                </ul>
                <p>
                    <a href="/lessons/{{ lesson.id }}/edit" class="btn btn-secondary btn-sm m-1" methods=>
                      Edit Lesson
                    </a>
                </p>
                <form method="POST" action="/lessons/{{ lesson.id }}/delete">
                    <button class="btn btn-secondary btn-sm m-1">Delete</button>
                </form>
        </li>
        {% endfor %}
    </ul>
</div>

{% if session['id'] == user.id %}
<p> 
    <a href="/users/{{user.id}}/lessons/new" class="btn btn-secondary btn-sm m-1">
      Add Lesson
    </a>
  </p>
{% endif %}



{% endblock %}



